.logo {
  float: left;
  margin: 30px; }

h1 {
  font-size: 200%;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 15%; }

h2 {
  font-size: 20px;
  color: #191919;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6%; }

h3 {
  font-size: 15px;
  color: #5B5D5C;
  text-transform: uppercase;
  text-align: center; }

p {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 16px;
  color: #8a8a8a; }

.theme_span {
  background-color: #B5F0F1; }

.menu {
  text-align: right; }

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin: 40px; }

.menu__icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #333333;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.menu__icon span:nth-child(1) {
  top: 0px; }

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px; }

.menu__icon span:nth-child(4) {
  top: 26px; }

.menu__links-item {
  display: inline-block;
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 3em;
  margin-right: 3em; }

.menu__links-item:hover {
  text-decoration: underline; }

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__links {
  display: block; }

@media screen and (max-width: 999px) {
  .menu__icon {
    display: inline-block; }
  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto; }
  .menu__links-item {
    display: block;
    padding: 10px;
    text-align: center;
    color: #ffffff; } }

.theme, header {
  background-color: #F0F0F2;
  background-position: top;
  text-align: center; }

.glass {
  margin-top: 2%;
  margin-left: 60%; }

a.button {
  display: inline-block;
  width: 15em;
  height: 3em;
  line-height: 3em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #F0F0F2;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, 0 1px 1px 1px rgba(255, 255, 255, 0.2), 0 -1px 1px 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, 0 1px 1px 1px rgba(255, 255, 255, 0.2), 0 -1px 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  text-transform: uppercase; }

a.button21:hover:not(:active) {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, 0 1px 1px 1px rgba(0, 255, 255, 0.5), 0 -1px 1px 1px rgba(0, 255, 255, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, 0 1px 1px 1px rgba(0, 255, 255, 0.5), 0 -1px 1px 1px rgba(0, 255, 255, 0.5); }

a.button21:active {
  background: #F0F0F2;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px 1px rgba(255, 255, 255, 0.4), 0 -1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px 1px rgba(255, 255, 255, 0.4), 0 -1px 1px 1px rgba(0, 0, 0, 0.1); }

#theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #74f2e7; }

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: left;
  padding-left: 40%; }

.actually {
  float: right;
  width: 40%;
  padding-right: 5%; }

.owl-theme {
  margin: 10%; }
  .owl-theme .about-us {
    padding: 12%; }

.featured-works {
  float: none; }
  .featured-works .works {
    margin-bottom: 100px; }

.featured-img {
  width: 96%;
  max-width: 960px;
  margin: 0 auto; }

.featured-img img {
  max-width: 100%;
  height: auto;
  display: inline-block; }

@media (min-width: 420px) {
  .featured-img img {
    max-width: 17%; } }

@media (min-width: 760px) {
  .featured-img img {
    max-width: 33%; } }
